.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

body {
  background-color: lightgray;
}
.app__stats {
  display: flex;
  justify-content: space-between;
}

.app {
  margin-left: 20px;
}
